In [ ]:
Écrivez un programme Pandas pour créer et afficher un DataFrame à partir des données de dictionnaire suivantes avec des étiquettes d'index.

exam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthieu', 'Laura', 'Kevin', 'Jonas'],

'note' : [12,5, 9, 16,5, np.nan, 9, 20, 14,5, np.nan, 8, 19],

'tentatives' : [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],

'qualifier' : ['oui', 'non', 'oui', 'non', 'non', 'oui', 'oui', 'non', 'non', 'oui']}

étiquettes = ['a', 'b', 'c', 'd', 'e', ​​'f', 'g', 'h', 'i', 'j']


1-Imprimez les trois premières lignes en utilisant la méthode head().
2-Supprimez les lignes avec des valeurs Nan.
3-Extrayez les colonnes 'name' et 'score' du DataFrame.
4-crivez un programme Pandas pour ajouter une nouvelle ligne 'k' au DataFrame avec ces valeurs (nom : "Suresh", score : 15,5, tentatives : 1, qualification : "oui").
5Écrivez un programme Pandas pour supprimer la colonne "tentatives" du DataFrame.
6-Ajouter une nouvelle colonne "Succès" : si le score est supérieur à 10, nous aurons 1, sinon nous aurons 0.
7-Après avoir exécuté le DataFrame final, exportez-le dans un fichier CSV nommé "my_data".

In [3]:
import pandas as pd
import numpy as np

exam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthieu', 'Laura', 'Kevin', 'Jonas'],
             'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
             'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
             'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}

labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

df = pd.DataFrame(exam_data, index=labels)

print(df.head(3))

df = df.dropna()
print(df)


df_extracted = df[['name', 'score']]
print(df_extracted)

df.loc['k'] = ['Suresh', 15.5, 1, 'yes']
print(df)

df = df.drop('attempts', axis=1)
print(df)

df['Success'] = df['score'].apply(lambda x: 1 if x > 10 else 0)
print(df)

df.to_csv('my_data.csv')

        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g   Matthieu   14.5         1     yes
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes
        name  score
a  Anastasia   12.5
b       Dima    9.0
c  Katherine   16.5
e      Emily    9.0
f    Michael   20.0
g   Matthieu   14.5
i      Kevin    8.0
j      Jonas   19.0
        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g   Matthieu   14.5         1     yes
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes
k     Suresh   15.5         1     yes
        name  score qualify
a  Anastasia   12.5     yes
b       Dima    9.0      no
c  Katherine   16.5     yes
e      Emily    9.0      no
f    Michael   20.0     yes
g   Matthieu   14.5     yes
i      Kevin    8.0      no
j      Jonas   19.0     yes
k     Suresh   15.5     yes
        name  score qualify  Success
a  Anastasia   12.5     yes        1
b       Dima    9.0      no        0
c  Katherine   16.5     yes        1
e      Emily    9.0      no        0
f    Michael   20.0     yes        1
g   Matthieu   14.5     yes        1
i      Kevin    8.0      no        0
j      Jonas   19.0     yes        1
k     Suresh   15.5     yes        1